.top-nav {
  width: 100%;
  border-bottom: 1px solid @nav-border;
  background: @nav-bg;
  height: 100px;

  .navigation-flexbox {
    max-width: 400px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    .flex-and-wrap();
    @media @phone {
      justify-content: space-around;
    }
    // @media @tablet {
    //   max-width: 90%;
    // }

    #logo {
      padding: 0;
      font-size: 3.9rem;
      font-weight: bold;
      font-family: "Russo One";
      flex-basis: 100%;
      text-align: center;
      margin: 5px;

      @media @phone {
        flex-basis: 100%;
        font-size: 3.9rem;
        text-align: center;
      }
      //   @media @tablet {
      //     font-size: 3.2rem;
      //   }
    }

    a {
      text-decoration: none;
      color: @nav-font;
      &:hover {
        color: red;
      }
    }

    li {
      width: auto;
      margin: 0;
      line-height: 1.5;
      font-size: 1.6rem;
      font-weight: bold;
      @media @phone {
        margin: 0;
        font-size: 1.5rem;
      }
      //   @media @tablet {
      //     font-size: 1.3rem;
      //   }
    }
  }
}
